:root {
 --primary-dblue-10: rgba(20, 28, 62, 1);
}
:root {
 --primary-dblue: rgba(25, 36, 80, 1);
}
:root {
 --primary-dblue-120: rgba(30, 40, 92, 1);
}
:root {
 --primary-dblue-150: rgba(33, 47, 112, 1);
}
:root {
 --primary-dblue-180: rgba(48, 62, 134, 1);
}
:root {
 --primary-dblue-200: rgba(60, 77, 175, 1);
}
:root {
 --primary-blue: rgba(106, 147, 242, 1);
}
:root {
 --primary-green-10: rgba(6, 64, 44, 1);
}
:root {
 --primary-green-120: rgba(11, 84, 51, 1);
}
:root {
 --primary-green-150: rgba(28, 114, 88, 1);
}
:root {
 --primary-green-180: rgba(50, 140, 100, 1);
}
:root {
 --primary-green-200: rgba(75, 170, 122, 1);
}
:root {
 --primary-orange-10: rgba(196, 90, 20, 1);
}
:root {
 --primary-orange-120: rgba(248, 124, 40, 1);
}
:root {
 --primary-orange-150: rgba(244, 170, 52, 1);
}
:root {
 --primary-orange-180: rgba(249, 184, 67, 1);
}
:root {
 --primary-orange-200: rgba(249, 212, 93, 1);
}
:root {
 --primary-red-10: rgba(165, 18, 30, 1);
}
:root {
 --primary-red-120: rgba(204, 23, 50, 1);
}
:root {
 --primary-red-150: rgba(222, 25, 54, 1);
}
:root {
 --primary-red-180: rgba(244, 44, 82, 1);
}
:root {
 --primary-red-200: rgba(252, 69, 112, 1);
}



:root {
 --primary-dblack: rgba(5, 5, 15, 1);
}
:root {
 --primary-white: rgba(255, 255, 255, 1);
}